<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <div align="center">
    <img id="bg" src="/static/img/bg.png" align="center" height="50%" width="100%"/>
    <h1 style="font-size: 50;color:aqua" align="center">JOÃO LUCCAS MARQUES</h1>
    <img id="joao" src="/static/img/joao.JPG" align="center" height="5%" width="5%"/>
    </div>
</head>
<body style="background-color: rgb(7, 58, 151);">
    <h2 style="color: aqua;" align="center">Sobre</h2>
    <p style="color:aqua">  Meu nome é João luccas Marques,sou de Anápolis Goiás e tenho 22 anos.Fiz meu ensinoo médio em colégio da polícia militar e foi onde meu gosto pelo militarismo foi aflorado.
             Estudei por 6 anos para ingressar na AFA(Academia da Força Aérea),consegui passar mas não classifiquei,fui aprovado e classificado 3x na EEAr (Escola Especialista da Aéronautica),porém,por
             motivos de saúde não pude assumir o cargo.Mudei totalmente de área e agora estou cursando Eng.Software na UNIEVANGELICA-GO(2023-2026),tenho me familiarizado com Python e busco uma chance no mercado para mudar minha vida.
    </p>
    <h2 style="color:aqua" align="center">contatos</h2>
    <p style="color:aqua" align="center">GitHub: <a href="https://github.com/JoaoLu2cas">https://github.com/JoaoLu2cas</a></p>
    <p style="color:aqua" align="center">E-mail:joaoluccasmarks@gmail.com</a> </p>
    <p style="color:aqua" align="center">LinkedIn: <a href=" https://www.linkedin.com/in/joaoluccasm/">https://www.linkedin.com/in/joaoluccasm/</a></p>
    <p style="color:aqua" align="center">Celular: 62 99122 4923</a></p>
    <br></br>
    <h2 style="color:aqua" align="center">Currículo</h2>
    <div align="center">
    <p style="color:aqua" align="center">Currículo: <a href="http://127.0.0.1:5000/curriculo">http://127.0.0.1:5000/curriculo</a></p>
    </div>
    
    </body>
</html>